
<footer class="bg-dark text-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Logo Here</h5>
        </div>
        <div class="col-md-3">
          <h5>My Account</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Sign In</a></li>
            <li><a href="#" class="text-light">Dashboard</a></li>
            <li><a href="#" class="text-light">Monitor Progress</a></li>
            <li><a href="#" class="text-light">Compare Success</a></li>
            <li><a href="#" class="text-light">My Topics</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>About SBA</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Company Information</a></li>
            <li><a href="#" class="text-light">Resources</a></li>
            <li><a href="#" class="text-light">Our Success</a></li>
            <li><a href="#" class="text-light">Meet The Experts</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Support</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Contact Us</a></li>
          </ul>
          <h5 class="mt-4">Newsletter</h5>
          <p>Join Our Mailing List To Stay Up To Date With World</p>
          <form>
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Email Address">
              <button class="btn btn-primary" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
      <hr class="mt-4">
      <p class="text-center mb-0">© 2022 Simple Best Review | All Rights Reserved</p>
      <p class="text-center">Created with love by Ritesite.design</p>
    </div>
  </footer>
